
openapi: 3.0.3
info:
  title: Expoll REST API
  description: This is the backend api documentation for expoll
  license:
    name: MIT
    url: https://github.com/Universumgames/expoll_server/blob/main/LICENSE
  version: 4.2.2
servers:
  - url: https://expoll.mt32.net/api
    description: the production server api
  - url: http://localhost:6060/
    description: local test server
  - url: http://192.168.178.68:6060
    description: local network testing

paths:
  /serverInfo:
    get:
      description: Get Meta info of backend server
      responses:
        "200":
          description: Meta json object
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  version:
                    type: "string"
                  compatibleVersions:
                    type: "array"
                    title: CompatibleVersionDescriptor
                    items:
                      type: "object"
                      properties:
                        from:
                          type: "object"
                          title: "VersionDescriptor"
                          nullable: true
                          properties:
                            version:
                              type: "string"
                              example: "4.2.2"
                            build:
                              type: "integer"
                        to:
                          type: "object"
                          title: "VersionDescriptor"
                          nullable: true
                          properties:
                            version:
                              type: "string"
                              example: "4.2.2"
                            build:
                              type: "integer"
                        exact:
                          type: "object"
                          title: "VersionDescriptor"
                          nullable: true
                          properties:
                            version:
                              type: "string"
                              example: "4.2.2"
                            build:
                              type: "integer"
                        platform:
                          type: "string"
                          example: "ios"
  /test:
    get:
      responses:
        200:
          description: "test response"
          content:
            text/plain:
              schema:
                type: string
                example: "Hello World!"
  /ping:
    get:
      responses:
        200:
          description: "ping response"
          content:
            text/plain:
              schema:
                type: string
                example: "pong"
  /appInfo/{platform}:
    parameters:
      - name: platform
        in: path
        required: true
        schema:
          type: string
          enum:
            #- android
            - ios
            #- web
    get:
      responses:
        200:
          description: "app info response"
          content:
            application/json:
              schema:
                type: object
                description: "Information about the app for a specific platform"
                title: "PlatformInfo"
                properties:
                  beta:
                    type: object
                    title: AppInfo
                    properties:
                      version:
                        type: string
                        example: "1.0.0"
                      build:
                        type: integer
                        example: 1
                      url:
                        type: string
                        example: "https://expoll.mt32.net/download/ios/beta/1.0.0/1"
                      releasedTimestamp:
                        type: integer
                        example: 1620000000
                  stable:
                    type: object
                    title: AppInfo
                    properties:
                      version:
                        type: string
                        example: "1.0.0"
                      build:
                        type: integer
                        example: 1
                      url:
                        type: string
                        example: "https://expoll.mt32.net/download/ios/stable/1.0.0/1"
                      releasedTimestamp:
                        type: integer
            application/xml:
              schema:
  /metaInfo:
    get:
      responses:
        200:
          description: "meta request info"
  /simple/mailregex:
    get:
      summary: "Mail regex"
      description: "Mail regex"
      responses:
      '200':
        description: "Mail regex"
        content:
        application/json:
          schema:
          type: "array"
          properties:
            id:
              type: "string"
            regex:
              type: "string"
            blacklist:
  /simple/poll/{pollid}/title:
    parameters:
      - name: pollid
        in: path
        required: true
        description: "The id of the poll"
        schema:
          type: "string"
    get:
      summary: "Get the title of a poll"
      description: "Get the title of a poll"
      responses:
        '200':
          description: "The title of the poll"
          content:
            text/plain:
              schema:
                type: "string"

components:
  schemas:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
