<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <link rel="stylesheet" href="./vars.css"/>
    <link rel="stylesheet" href="./style.css"/>
</head>
<body>
<footer th:fragment="content">
    <div class="belowFooter">
        <div class="versionInfo">
            <small>Backend-Version <!--/*@thymesVar id="backendVersion" type="java.lang.String"*/-->
            <span th:text="${backendVersion}">3.0.0</span></small>
        </div>
        <div>
            <small>Created by universumgames</small>
        </div>
    </div>
</footer>
</body>
</html>