<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{scaffold.html}"
      lang="en">
<head>
    <link rel="stylesheet" href="./vars.css"/>
    <link rel="stylesheet" href="./style.css"/>
</head>
<body>
<div layout:fragment="content">
    <p>
        Here is your OTP for logging in in Expoll:
    </p>
    <!--/*@thymesVar id="otp" type="java.lang.String"*/-->
    <h2 th:text="${otp}">otp</h2>
    <!--/*@thymesVar id="forApp" type="java.lang.Boolean"*/-->
    <p th:if="${forApp}">
        alternative you can login here <br><br><br>
        <!--/*@thymesVar id="loginLink" type="java.lang.String"*/-->
        <a th:href="${loginLink}" type="button">Login in App</a>
    </p>
    <p th:unless="${forApp}">
        alternatively you can click this link to login <!--/*@thymesVar id="loginLink" type="java.lang.String"*/-->
        <a th:href="${loginLink}" th:text="${loginLink}">test link</a>
    </p>
    <small>This one-time-password is valid until <!--/*@thymesVar id="validUntil" type="java.lang.String"*/-->
        <p th:text="${validUntil}">testdate</p>
    </small>
</div>
</body>