<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{scaffold.html}"
      lang="en">
<head>
    <link rel="stylesheet" href="./vars.css"/>
    <link rel="stylesheet" href="./style.css"/>
</head>
<body>
<div layout:fragment="content">
    <p>
        Here is your OTP for logging in in Expoll:
    </p>
    <h2 th:text="${otp}">otp</h2>
    <p th:if="${forApp}">
        alternative you can login here <br><br><br>
        <a th:href="${loginLink}" type="button">Login in App</a>
    </p>
    <p th:unless="${forApp}">
        alternatively you can click this link to login <a th:href="${loginLink}" th:text="${loginLink}"></a>
    </p>
</div>
</body>