<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{scaffold.html}"
 lang="en">
<head>

</head>
<body>
<div layout:fragment="content">
    <p>
        Hello <span th:text="${user.firstName}">Max</span> <span th:text="${user.lastName}">Mustermann</span>,
    </p>
    <p>
        Your account has been created successfully. Thank you for signing up at <a th:text="${applicationName}"
                                                                                   th:href="${scheme} + '://' + ${hostname}">Expoll</a>.
    </p>
    <p>
        Regards,<br>
        the <span th:text="${applicationName} + ' Team'">Expoll Team</span>
    </p>
</div>
</body>